doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'
        types:
            App\Infrastructure\Doctrine\Type\ProductIdType: App\Infrastructure\Doctrine\Type\ProductIdType
            App\Infrastructure\Doctrine\Type\ReviewIdType: App\Infrastructure\Doctrine\Type\ReviewIdType
            App\Infrastructure\Doctrine\Type\RatingType: App\Infrastructure\Doctrine\Type\RatingType

        profiling_collect_backtrace: '%kernel.debug%'
    orm:
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: false
        mappings:
            Product:
                type: php
                dir: '%kernel.project_dir%/src/Infrastructure/Doctrine/Mapping'
                prefix: 'App\Domain\Product\Entity'
                is_bundle: false
                alias: Product
            Review:
                type: php
                dir: '%kernel.project_dir%/src/Infrastructure/Doctrine/Mapping'
                prefix: 'App\Domain\Review\Entity'
                is_bundle: false
                alias: Review

        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
