name: CI/CD Docker Symfony

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]
    tags:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PHP + composer deps
        uses: php-actions/composer@v6
        with:
          php_version: "8.4"
          args: install --no-interaction

      - name: Run tests
        run: |
          vendor/bin/phpunit --testdox

  build-and-push:
    needs: test
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Build & push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/php/Dockerfile
          target: prod
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
